.story {
  border: 2px solid var(--global-border-color);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content {
      --max-lines: 7;
      word-break: break-all;
      position: relative;
      max-height: calc(1.3em * var(--max-lines));
      overflow: hidden;
      padding-right: 1rem;
      font-size: 1.2em;
    }
    .content::before {
      position: absolute;
      content: '...';
      bottom: 0;
      right: 0;
    }
    .content::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1rem;
      height: 1rem;
      background: white;
    }

    img {
      margin-left: 40px;
      max-height: 200px;
    }
  }

  .readMore {
    width: 100px;
    margin-right: 20px;
    border-radius: 4px;
    margin-top: 10px;
    border: 0px;
    justify-content: center;
    color: var(--global-white-color);
    padding: 8px;
    background-color: var(--global-dodger-blue-color);
    color: var(--global-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .tag {
      margin: 4px;
      background-color: var(--global-whisper-color);
      padding: 0px 8px;
      border-radius: 5px;

      &:hover {
        background-color: var(--global-whisper-color);
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .story {
    .section {
      img {
        max-height: 100px;
        margin-left: 5px;
      }
    }
  }
}
